@import "../styles/variables";

.button-clear {
    margin-bottom: 20px;

    button {
        padding: 10px 40px;
        border: none;
        border-radius: 5px;
        color: $text-color;
        font-size: 16px;
        cursor: pointer;
        background-color: $primary-color;
    }
}

.container-table {
    width: 100%;
    border-radius: 8px;
    border: 1px solid $text-color;
    height: 400px;
    max-height: 400px;
    overflow: auto;

    &.logs-table {
        height: 200px;
        max-height: 200px;

        .signals-table th:nth-child(1),
        .signals-table th:nth-child(2) {
            width: 17%;
        }

        .signals-table th:nth-child(3) {
            width: max-content;
        }
    }
}

.signals-table {
    border-collapse: separate;
    border-spacing: 0 8px;
    color: $text-color;
    text-align: left;
    width: 100%;
    padding: 0 8px;
}

.signals-table th {
    padding: 12px 20px;
    font-size: 13px;
}

.signals-table tbody tr {
    background-color: $panel;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.signals-table th:nth-child(1),
.signals-table th:nth-child(2),
.signals-table th:nth-child(3),
.signals-table th:nth-child(4) {
    width: 17%;

    @include desktop {
        width: 13%;
    }
}

.signals-table tbody tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 20px;
}

.signals-table tbody tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 20px;
}

.signals-table td {
    padding: 18px 12px;
    border-top: 1px solid $panel;
    border-bottom: 1px solid $panel;
    font-size: 13px;

    &.buy {
        color: $success-color;
    }

    &.sell {
        color: $danger-color;
    }

    &.hold {
        color: $text-color;
    }
}

.signals-table tbody tr:hover {
    background-color: $bg-color;
    transform: scale(1.005);
    transition: all 0.2s ease;
}
