@import "../styles/variables";

.status {
  font-size: 20px;
  font-weight: 700;
  
  &.running {
    color: $success-color;
  }

  &.stopped {
    color: $danger-color;
  }

  &.unknown {
    color: $warning-color;
  }
}
